:root {
  --sun-size: 150px;
  --sunrise: 10s;
  --yellow: #ff0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#sky,
#sea,
#sun {
  position: absolute;
}

#sky {
  width: 100%;

  top: 0vh;
  height: 55vh;
  z-index: 10;

  animation: brighten var(--sunrise) ease-in alternate infinite;
}

#sea {
  width: 100%;
  top: 50vh;
  height: 50vh;
  z-index: 40;

  /* background-color: #0077be; */
  background: radial-gradient(at 50% 0%, #0077be, #007);
  border-radius: 35%/5px 10px 0px 0px;  
}

#sun {
  width: var(--sun-size);
  height: var(--sun-size);
  z-index: 30;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  border-radius: 50%;
  
  background: linear-gradient(to bottom, #d00,  var(--yellow) 0%);
  box-shadow: 0 0 0px 0px var(--yellow);


  animation: rise var(--sunrise) ease-in alternate infinite;
}

.star {  
  border-radius: 50%;
  background-color: white;
  position: absolute;
  animation: fadeout var(--sunrise) ease-in alternate infinite;
}

.star.tiny {
  height: 1px;
  width: 1px;
}

.star.small {
  height: 2px;
  width: 2px;
}

.star.medium {
  height: 3px;
  width: 3px;
}

.star.large { 
  height: 5px;
  width: 5px;
}

@keyframes twinkle {
  0% {
    background-color: grey;
  }
  100% {
    transform: scale(1.3, 1.3);    
  }
}

@keyframes fadeout {
  0% {
    opacity: 1.0;
  }

  20% {
    opacity: 0.6;    
  }

  50% {
    opacity: 0.2;
  }

  70%, 100% {
    opacity: 0.0;
  }
}

@keyframes brighten {
  0% {
    background-color: #131862;
  }
  100% {
    background-color: skyblue;
  }
}

@keyframes rise {
  0% {
    top: 51vh;
  }  
  100% {
    box-shadow: 0 0 100px 10px var(--yellow);
    top: 10vh;
  }
}