:root {
  --sun-size: 150px;
  --sunrise: 10s;
  --yellow: #ff0;
  --dark-night: #131862;
  --day-light: rgb(135, 206, 235);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#sky,
#sea,
#sun,
.star {
  position: absolute;
}

/* SUN RISE */
#sun {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: var(--sun-size);
  height: var(--sun-size);
  z-index: 30;
  border-radius: 50%;
  background: linear-gradient(to bottom, #d00, var(--yellow) 0%);
  box-shadow: 0 0 0px 0px var(--yellow);

  /* Animation */
  animation: rise var(--sunrise) ease-in alternate infinite;
}

@keyframes rise {
  0% {
    top: 51vh;
  }
  100% {
    box-shadow: 0 0 100px 10px var(--yellow);
    top: 10vh;
  }
}


/* SKY */
#sky {
  z-index: 10;
  top: 0vh;
  width: 100%;
  height: 55vh;

  /* Animation */
  animation: brighten var(--sunrise) ease-in alternate infinite;
}

@keyframes brighten {
  0% {
    background-color: var(--dark-night);
  }
  100% {
    background-color: var(--day-light);
  }
}

/* SEA */
#sea {
  z-index: 40;
  top: 50vh;
  width: 100%;
  height: 50vh;
  background: radial-gradient(at 50% 0%, #0077be, #007);
  border-radius: 35%/5px 10px 0px 0px;

  /* Animation */
  animation: wave 3s alternate infinite;
}

@keyframes wave {
  50% {
    top: 49.5vh;
    height: 50.5vh;
  }
}


/* STARS */
.star {
  background-color: white;
  border-radius: 50%;

  /* Animation */
  animation: fadeout var(--sunrise) ease-in alternate infinite;
}

.star.tiny {
  height: 1px;
  width: 1px;
}

.star.small {
  height: 2px;
  width: 2px;
}

.star.medium {
  height: 3px;
  width: 3px;
}

.star.large {
  height: 5px;
  width: 5px;
}

@keyframes twinkle {
  50% {
    translate: 
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.2;
  }

  70%,
  100% {
    opacity: 0;
  }
}